name: Pre-release

on:
  push:
    branches: [main]

jobs:
  pre-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          java-version: '25'
          distribution: 'temurin'

      - run: 'echo "JorisgUsername=${{ secrets.JORISG_REPO_USERNAME }}" >> gradle.properties'
      - run: 'echo "JorisgPassword=${{ secrets.JORISG_REPO_PASSWORD }}" >> gradle.properties'

      - name: Unit Test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: test
        env:
          GRADLE_BUILD_ACTION_CACHE_DEBUG_ENABLED: true

      - name: Build Jar
        uses: gradle/gradle-build-action@v2
        with:
          arguments: shadowJar

      - uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            **/build/libs/*.jar